<a href="https://colab.research.google.com/github/Glifoyle/test-repo/blob/master/Copy_of_P2PandasIntro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

[BACK TO INDEX](https://colab.research.google.com/drive/1mjBugZmwa6OSxNaqkrCu4OCslKf2Wy7P?usp=sharing) , [Youtube Channel](https://www.youtube.com/channel/UCDxi6j88IlZXsRcAUXlscgw)

# *PROGRAMMING 2, Algorithms and Data Structures*
-----------------------------------------------------


BONUS UNIT: Using Code Libraries, Pandas
-----------

In this unit we take a break from new concepts in Algorithms and Data structure to have a look at a very popular Python library: [PANDAS](http://pandas.pydata.org/pandas-docs/stable/).

For some of you, the concept of library itself may be a little new. A code library is simply a collection of algorithms and data structures, usually all related to the same subject. For example, OpenCV and Scikit Learn are two very popular image processing libraries, while Pytorch or Tensorflow are widely used for deep learning applications. We will see some of those libraries in a later course, but for now, let's go back to PANDAS.

PANDAS is a library that can process large amounts of tabular data efficiently. In this unit we will introduce its main concepts by running some code!

First of all, we need to import the library and get the files:

In [ ]:
# let's import and rename Pandas
import pandas as pd

# Let's also import NumPy, as we will need it in some of the examples.
import numpy as np

In [ ]:
import os
import requests

if not os.path.exists('players.csv'):
    url = "https://www.dropbox.com/scl/fi/63slvpg2wla67nfoapt4v/players.csv?rlkey=g1jxhoqm7agr297jcu2k821um&dl=1"
    query_parameters = {"downloadformat": "csv"}
    response = requests.get(url,query_parameters)
    open('players.csv', 'wb').write(response.content)

# Main data structures

Pandas works with two main data structures:

- **series** which is similar to a list but includes labels at each position. However, as a major difference with Python lists, all the data in a pandas series has to be of the same type.
- **dataframe**, which stands for 2D table with labels in both axes. If you have experience working with databases, the Pandas dataframe will remind you a lot of a database table.

## Pandas Series

Let's see some examples, first, of the series data structure.

In [ ]:
print(pd.Series([1, 1, 2, 3, 5]))

0    1
1    1
2    2
3    3
4    5
dtype: int64

In [ ]:
print(pd.Series([1.5, 3.5, 4.75]))

0    1.50
1    3.50
2    4.75
dtype: float64

The data in a series must be of the same type. In the previous examples, the first series was made up of
integers (int64), while the second contained floating point numbers (float).

If we introduce data of different types into a series, Pandas will try to find a more general type that the types that we are using can be converted to. For example:

In [ ]:
# If we mix integers and 'floats', pandas makes a series is of type 'float'
# and converts (casts) integers to float.
print(pd.Series([1, 2, 3.5]))

0    1.0
1    2.0
2    3.5
dtype: float64

In [ ]:
# If we mix integers, 'floats' and 'strings', then Pandas can only find
# the 'object' type as a more general type that includes them all
print(pd.Series([1, 4.3, "date"]))

0       1
1     4.3
2    date
dtype: object

Pandas series can have lables or "tags", that we can use to access elements. We can use both indices and tags to access the elements in a Pandads series.

In [ ]:
# We create a labeled series from a dictionary.
s = pd.Series({"alice" : 2, "bob": 3, "eve": 5})
print(s)

# We access the elements of the series based on their tag.
print(s["alice"])

# We access the elements of the series from their index.
print(s[0])

alice    2
bob      3
eve      5
dtype: int64
2
2

In [ ]:
# We create a labeled series from two vectors, one with the data and one with the labels.
print(pd.Series([2, 3, 5], index = ["alice", "bob", "eve"]))

alice    2
bob      3
eve      5
dtype: int64

Pandas _series_ can also be easily converted to regular lists, although when we do that we loose the labels.

In [ ]:
# a pandas series
print("I am a pandas series ")
print(s)
# converted to a list
print("Now I am a list ")
print(list(s))

I am a pandas series
alice    2
bob      3
eve      5
dtype: int64
Now I am a list
[2, 3, 5]

## Pandas Dataframe

The second Pandas data structure that we will use is the _dataframe_. While Pandas series where pretty similar to lists, dataframes are a fundamentally new data structure. The Pandas dataframe has different goals and uses than any of the data structures we have seen so far.

A _**dataframe**_ is a **two-dimensional** table with **labels** on the axes and potentially with data of different types. The _dataframe_ is the main data structure in the Pandas library.

Let's look at the main features of a _dataframe_ with some examples

Unlike a series, a _dataframe_ is two-dimensional:

In [ ]:
print(pd.DataFrame([[1, 2, 3], [4, 5, 6]]))

   0  1  2
0  1  2  3
1  4  5  6

Just as series, _dataframes_ can have labels on the axes. Several syntaxes can be used to add tags to a _dataframe_:

In [ ]:
# We use a dictionary to define each column and a list to indicate the row labels.
d = {"alice" : [1953, 12, 3], "bob" : [1955, 11, 24], "eve" : [2011, 10, 10]}
print(pd.DataFrame(d, index=["year", "month", "day"]))

       alice   bob   eve
year    1953  1955  2011
month     12    11    10
day        3    24    10

In [ ]:
# We use a list of lists to input the data and two additional lists
# to indicate row and column labels.
a = [[1953, 12, 3], [1955, 11, 24], [2011, 10, 10]]
print(pd.DataFrame(a, columns=["year", "month", "day"], index = ["alice", "bob", "eve"]))

       year  month  day
alice  1953     12    3
bob    1955     11   24
eve    2011     10   10

Each of the columns in a _dataframe_ can have different data types. At the same time, data within the same column **must have one single type**. In case you are wondering... yes, [each column in a _dataframe_ is a series](https://pandas.pydata.org/pandas-docs/stable/getting_started/intro_tutorials/01_table_oriented.html).

In [ ]:
a = [[1953, "computer science", 3.5], [1955, "archeology", 3.8], [2011, "biology", 2.8]]
print(pd.DataFrame(a, columns=["year", "major", "average grade"], index = ["alice", "bob", "eve"]))

       year             major  average grade
alice  1953  computer science            3.5
bob    1955        archeology            3.8
eve    2011           biology            2.8

# Basic operations on  _dataframes_
-------------------------------------

Let's review some of the built-in that can be performed with a pandas _dataframe_.

## Reading data from a file

Pandas allows us to load data from a CSV file directly into a _dataframe_ via the `read_csv` function. This function has many of parameters to configure exactly how the function behaves. For example, we can change the way our data is separated, ignore leading or trailing lines...  Most of the time, however, the default setting will work just fine.

Now we will load the data from a file containing data from the FIFA football simulator and extracted from [this dataset](https://www.kaggle.com/datasets/stefanoleone992/fifa-22-complete-player-dataset). We will use Pandas to open a file and explore it.

In [ ]:
# Load Data from a  file into a 'dataframe'.
data = pd.read_csv('/content/players.csv')
print(type(data))

<class 'pandas.core.frame.DataFrame'>

thanks to "read_csv", we now have a variable "data" that contains the information read from our file inside of a _dataframe_ data structure.

## Browsing the _dataframe_

Let's have a look at some functions that allow us to explore the _dataframe_ we just created. First of all, the "head" function shows us the first "n" row in the dataframe:

In [ ]:
# Display the first 3 rows.
data.head(n=3)

,Unnamed: 0,id,short_name,long_name,overall,potential,age,dob,height_cm,weight_kg,...,defending_marking_awareness,defending_standing_tackle,defending_sliding_tackle,goalkeeping_diving,goalkeeping_handling,goalkeeping_kicking,goalkeeping_positioning,goalkeeping_reflexes,goalkeeping_speed,nat
0,0,227246,L. Bronze,Lucia Roberta Tough Bronze,92,92,29,1991-10-28,171,67,...,90,88,89,10,14,16,8,15,NaN,gb-eng
1,1,227316,W. Renard,Wéndèleine Thérèse Renard,92,92,30,1990-07-20,187,70,...,90,93,91,7,14,17,11,15,NaN,fr
2,2,233746,V. Miedema,Vivianne Miedema,92,93,24,1996-07-15,178,65,...,22,30,23,14,16,17,14,17,NaN,nl

Similarly, we can use the "tail" function to see the final rows in a dataframe:

In [ ]:
# show the last 5 rows.
data.tail(5)

,Unnamed: 0,id,short_name,long_name,overall,potential,age,dob,height_cm,weight_kg,...,defending_marking_awareness,defending_standing_tackle,defending_sliding_tackle,goalkeeping_diving,goalkeeping_handling,goalkeeping_kicking,goalkeeping_positioning,goalkeeping_reflexes,goalkeeping_speed,nat
386,386,261799,H. Eurlings,Hannah Eurlings,66,81,18,2003-01-01,170,58,...,30,28,34,10,11,6,12,5,NaN,be
387,387,261856,Ana Dias,Ana Inês Costa Mendes Dias,66,75,23,1997-10-02,171,60,...,10,10,12,12,6,11,6,10,NaN,pt
388,388,263000,G. Rennie,Gabi Rennie,66,79,19,2001-07-07,168,64,...,33,31,27,9,7,6,5,15,NaN,nz
389,389,262867,C. Nevin,Courtney Nevin,62,77,19,2002-02-12,168,65,...,46,67,65,9,11,13,12,7,NaN,au
390,390,262868,C. Grant,Charlotte Grant,60,75,19,2001-09-20,172,70,...,51,62,60,7,14,11,7,14,NaN,au

Pandas also has simple functions to obtain the names of the colums of a _dataframe_

In [ ]:
data.columns

Index(['Unnamed: 0', 'id', 'short_name', 'long_name', 'overall', 'potential',
       'age', 'dob', 'height_cm', 'weight_kg', 'nation_position',
       'nation_jersey_number', 'preferred_foot', 'weak_foot', 'skill_moves',
       'international_reputation', 'pace', 'shooting', 'passing', 'dribbling',
       'defending', 'physic', 'attacking_crossing', 'attacking_finishing',
       'attacking_heading_accuracy', 'attacking_short_passing',
       'attacking_volleys', 'skill_dribbling', 'skill_curve',
       'skill_fk_accuracy', 'skill_long_passing', 'skill_ball_control',
       'movement_acceleration', 'movement_sprint_speed', 'movement_agility',
       'movement_reactions', 'movement_balance', 'power_shot_power',
       'power_jumping', 'power_stamina', 'power_strength', 'power_long_shots',
       'mentality_aggression', 'mentality_interceptions',
       'mentality_positioning', 'mentality_vision', 'mentality_penalties',
       'mentality_composure', 'defending_marking_awareness',
       'defending_standing_tackle', 'defending_sliding_tackle',
       'goalkeeping_diving', 'goalkeeping_handling', 'goalkeeping_kicking',
       'goalkeeping_positioning', 'goalkeeping_reflexes', 'goalkeeping_speed',
       'nat'],
      dtype='object')

We can also easily have a look at the types of our columns with the "dtypes" function:

In [ ]:
data.dtypes

Unnamed: 0                       int64
id                               int64
short_name                      object
long_name                       object
overall                          int64
potential                        int64
age                              int64
dob                             object
height_cm                        int64
weight_kg                        int64
nation_position                 object
nation_jersey_number             int64
preferred_foot                  object
weak_foot                        int64
skill_moves                      int64
international_reputation         int64
pace                           float64
shooting                       float64
passing                        float64
dribbling                      float64
defending                      float64
physic                         float64
attacking_crossing               int64
attacking_finishing              int64
attacking_heading_accuracy       int64
attacking_short_passing          int64
attacking_volleys                int64
skill_dribbling                  int64
skill_curve                      int64
skill_fk_accuracy                int64
skill_long_passing               int64
skill_ball_control               int64
movement_acceleration            int64
movement_sprint_speed            int64
movement_agility                 int64
movement_reactions               int64
movement_balance                 int64
power_shot_power                 int64
power_jumping                    int64
power_stamina                    int64
power_strength                   int64
power_long_shots                 int64
mentality_aggression             int64
mentality_interceptions          int64
mentality_positioning            int64
mentality_vision                 int64
mentality_penalties              int64
mentality_composure              int64
defending_marking_awareness      int64
defending_standing_tackle        int64
defending_sliding_tackle         int64
goalkeeping_diving               int64
goalkeeping_handling             int64
goalkeeping_kicking              int64
goalkeeping_positioning          int64
goalkeeping_reflexes             int64
goalkeeping_speed              float64
nat                             object
dtype: object

We can also display an index object that tells us how many rows we have and that can be useful for some iterations

In [ ]:
data.index

RangeIndex(start=0, stop=391, step=1)

The "info" function gives us lots of useful information about the size of our _dataframe_, the names of our columns and even shows us some examples of its contents.

In [ ]:
print(data.info)

<bound method DataFrame.info of      Unnamed: 0      id   short_name                   long_name  overall  \
0             0  227246    L. Bronze  Lucia Roberta Tough Bronze       92
1             1  227316    W. Renard   Wéndèleine Thérèse Renard       92
2             2  233746   V. Miedema            Vivianne Miedema       92
3             3  227125      S. Kerr           Samantha May Kerr       91
4             4  226301    A. Morgan   Alexandra Morgan Carrasco       90
..          ...     ...          ...                         ...      ...
386         386  261799  H. Eurlings             Hannah Eurlings       66
387         387  261856     Ana Dias  Ana Inês Costa Mendes Dias       66
388         388  263000    G. Rennie                 Gabi Rennie       66
389         389  262867     C. Nevin              Courtney Nevin       62
390         390  262868     C. Grant             Charlotte Grant       60

     potential  age         dob  height_cm  weight_kg  ...  \
0           92   29  1991-10-28        171         67  ...
1           92   30  1990-07-20        187         70  ...
2           93   24  1996-07-15        178         65  ...
3           91   27  1993-09-10        167         55  ...
4           90   31  1989-07-02        170         62  ...
..         ...  ...         ...        ...        ...  ...
386         81   18  2003-01-01        170         58  ...
387         75   23  1997-10-02        171         60  ...
388         79   19  2001-07-07        168         64  ...
389         77   19  2002-02-12        168         65  ...
390         75   19  2001-09-20        172         70  ...

    defending_marking_awareness  defending_standing_tackle  \
0                            90                         88
1                            90                         93
2                            22                         30
3                            36                         38
4                            34                         29
..                          ...                        ...
386                          30                         28
387                          10                         10
388                          33                         31
389                          46                         67
390                          51                         62

    defending_sliding_tackle  goalkeeping_diving  goalkeeping_handling  \
0                         89                  10                    14
1                         91                   7                    14
2                         23                  14                    16
3                         23                   7                    12
4                         27                  11                    11
..                       ...                 ...                   ...
386                       34                  10                    11
387                       12                  12                     6
388                       27                   9                     7
389                       65                   9                    11
390                       60                   7                    14

     goalkeeping_kicking  goalkeeping_positioning  goalkeeping_reflexes  \
0                     16                        8                    15
1                     17                       11                    15
2                     17                       14                    17
3                      8                       16                    13
4                     10                       10                    11
..                   ...                      ...                   ...
386                    6                       12                     5
387                   11                        6                    10
388                    6                        5                    15
389                   13                       12                     7
390                   11                        7                    14

     goalkeeping_speed     nat
0                  NaN  gb-eng
1                  NaN      fr
2                  NaN      nl
3                  NaN      au
4                  NaN      us
..                 ...     ...
386                NaN      be
387                NaN      pt
388                NaN      nz
389                NaN      au
390                NaN      au

[391 rows x 58 columns]>

We can also get some basic statistics regarding the numeric columns in a _dataframe_ using "describe".

In [ ]:
# Show basic statistics for the numeric columns of the dataframe.
data.describe()

,Unnamed: 0,id,overall,potential,age,height_cm,weight_kg,nation_jersey_number,weak_foot,skill_moves,...,mentality_composure,defending_marking_awareness,defending_standing_tackle,defending_sliding_tackle,goalkeeping_diving,goalkeeping_handling,goalkeeping_kicking,goalkeeping_positioning,goalkeeping_reflexes,goalkeeping_speed
count,391.000000,391.000000,391.000000,391.000000,391.000000,391.000000,391.000000,391.000000,391.000000,391.000000,...,391.000000,391.000000,391.000000,391.000000,391.000000,391.000000,391.000000,391.000000,391.000000,48.00000
mean,195.000000,241580.636829,76.713555,79.511509,27.002558,168.687980,60.918159,12.485934,3.030691,2.777494,...,65.813299,51.508951,52.984655,49.969309,19.084399,18.897698,19.025575,18.813299,19.245524,34.37500
std,113.016223,12811.065999,5.744544,5.324760,4.185138,6.132288,5.432896,7.256416,0.689912,0.965617,...,14.419660,25.344282,26.328200,25.792845,21.636639,21.136425,20.763858,21.217758,22.013774,10.01621
min,0.000000,226177.000000,60.000000,66.000000,18.000000,150.000000,48.000000,1.000000,1.000000,1.000000,...,11.000000,5.000000,9.000000,10.000000,5.000000,5.000000,5.000000,5.000000,5.000000,17.00000
25%,97.500000,227394.500000,73.000000,76.000000,24.000000,164.000000,57.000000,6.000000,3.000000,2.000000,...,58.000000,28.000000,25.000000,23.000000,9.000000,9.000000,9.000000,9.000000,9.000000,26.00000
50%,195.000000,241526.000000,76.000000,79.000000,27.000000,169.000000,60.000000,12.000000,3.000000,3.000000,...,69.000000,59.000000,64.000000,55.000000,12.000000,12.000000,12.000000,12.000000,12.000000,30.50000
75%,292.500000,248734.000000,81.000000,83.000000,30.000000,173.000000,65.000000,18.000000,3.000000,3.000000,...,75.000000,75.000000,76.000000,74.000000,15.000000,15.000000,15.000000,15.000000,15.000000,44.00000
max,390.000000,264630.000000,92.000000,93.000000,38.000000,187.000000,78.000000,51.000000,5.000000,5.000000,...,95.000000,93.000000,93.000000,91.000000,87.000000,90.000000,92.000000,89.000000,89.000000,53.00000

# Indexing and data selection
----------------------------------------------------

Dataframes can be also used with regular Python commands. For example, if we write

df\[column_name\]

where df contains a _dataframe_, we obtain the series stored in column "column_name". This resulting series can then be sliced.

So, by:

- Using square brackets for regular list access (here we are treating a _dataframe_ as a list of lists).
- And then using list slicing (here we are treating a Pandas series as a list), we can perform some convenient selection operations in the columns of our _dataframe_

Let's see a couple of examples:

In [ ]:
# Select the first 10 elements of the "short_name" column
data["short_name"][0:10]

0      L. Bronze
1      W. Renard
2     V. Miedema
3        S. Kerr
4      A. Morgan
5    D. Marozsán
6     M. Rapinoe
7       T. Heath
8      C. Hansen
9       A. Henry
Name: short_name, dtype: object

In [ ]:
# Select a few elements in the "potential" column
data["potential"][215:223]

215    77
216    75
217    75
218    80
219    75
220    77
221    76
222    85
Name: potential, dtype: int64

in addition to using Python (and numpy) commands to access the data, Pandas has its own built-in commands. As Pandas commands are optimized for this, they are often much faster. This is not very important if we are accessing just a few elements, but if we need to repeatedly iterate over large databases, usign the proper commands can be the difference between having a pretty fast or extremely slow code.

For now, let's use Pandas "loc" function to obtain the data regarding the players stores in positions 5,10 and 97.

In [ ]:
# Use loc to obtain a few rows of a dataframe
# show the players in positions 5,10 and 97 in our dataframe
data.loc[[5,10,97]]

,Unnamed: 0,id,short_name,long_name,overall,potential,age,dob,height_cm,weight_kg,...,defending_marking_awareness,defending_standing_tackle,defending_sliding_tackle,goalkeeping_diving,goalkeeping_handling,goalkeeping_kicking,goalkeeping_positioning,goalkeeping_reflexes,goalkeeping_speed,nat
5,5,226308,D. Marozsán,Dzsenifer Marozsán,90,90,29,1992-04-18,171,67,...,51,46,53,8,10,15,9,12,NaN,de
10,10,226333,J. Ertz,Julie Beth Ertz,89,89,29,1992-04-06,170,59,...,84,89,85,12,11,9,15,13,NaN,us
97,97,247791,S. Lohmann,Sydney Lohmann,81,89,21,2000-06-19,174,64,...,78,74,73,13,9,13,13,11,NaN,de

We can combine the use of several commands into one single call. For example, let's just keep a few columns of each of the rows of the _dataframe_ that we had selected:

In [ ]:
# Show only a few columns for the players that we had selected
data.loc[[5,10,97], ["short_name", "overall", "potential","pace"]]

     short_name  overall  potential  pace
5   D. Marozsán       90         90  82.0
10      J. Ertz       89         89  77.0
97   S. Lohmann       81         89  70.0

One issue at which Pandas is particularly good, is doing complex selections in our data. First, let's see how many nationalities we have in our data:

In [ ]:
print(set(data["nat"]))

{'nl', 'nz', 'mx', 'fr', 'ca', 'cn', 'de', 'au', 'us', 'es', 'no', 'gb-sct', 'se', 'be', 'br', 'gb-eng', 'pt'}

In this case we used the selection data\["nat"\] to only look at the data in one column and then we took advantage of the pandas series being iterable to build a "set" data structure with it. We will not be going into python sets today, but they can be used to eliminate duplicates in our data conveniently and we just took advantage of that.

Let's now select the players in our _dataframe_ that are from mexico:

In [ ]:
print(data[data["nat"]=="mx"])

     Unnamed: 0      id      short_name  \
57           57  227466       K. Robles
127         127  227452        S. Mayor
212         212  228800     E. Alvarado
266         266  261093    A. Cervantes
270         270  228724      M. Sánchez
282         282  247437     D. Espinosa
287         287  260768        J. López
299         299  227454    C. Jaramillo
309         309  241224       R. Bernal
315         315  261092     A. González
327         327  227486      N. Antonio
336         336  254564     I. González
340         340  264630      J. Montoya
341         341  243054       J. Orejel
352         352  241225       C. Ferral
353         353  241286       B. Campos
356         356  254997  D. Evangelista
357         357  255013       M. Cadena
363         363  262826    K. Rodríguez
365         365  264626    A. Rodríguez
372         372  261113      M. Villeda
381         381  264627   M. Delgadillo
384         384  256208       D. García

                                 long_name  overall  potential  age  \
57             Vaitiare Kenti Robles Salas       83         83   30
127        Sandra Stephany Mayor Gutierrez       79         79   29
212                         Emily Alvarado       75         85   23
266               Alicia Cervantes Herrera       74         74   27
270        María Guadalupe Sánchez Morales       73         76   25
282                  Daniela Espinosa Arce       73         84   21
287                   Jimena López Fuentes       73         79   22
299  Christian Carolina Jaramillo Quintero       72         72   27
309                Rebeca Bernal Rodriguez       72         75   23
315       Alison Hecnary Gonzalez Esquivel       72         84   19
327          Nancy Guadalupe Antonio Lopez       71         75   25
336               Itzel González Rodríguez       71         71   26
340                       Joseline Montoya       71         80   20
341           Jocelyn Marie Orejel Tavares       70         74   24
352   Cristina Del Carmen Ferral Montalván       69         69   28
353         Briana Marie Campos Barrientez       69         72   27
356         Diana Laura Evangelista Chávez       69         72   26
357                Mariana Cadena Calvillo       69         74   26
363                       Karina Rodríguez       69         77   22
365                        Anika Rodríguez       69         73   24
372            Melany Aylin Villeda Medina       68         78   19
381                        Myra Delgadillo       67         70   25
384            Diana Laura García Castillo       66         76   21

            dob  height_cm  weight_kg  ... defending_marking_awareness  \
57   1991-02-15        161         59  ...                          84
127  1991-09-23        162         58  ...                          46
212  1998-06-09        180         72  ...                          30
266  1994-01-24        165         60  ...                          26
270  1996-02-20        167         56  ...                          40
282  1999-07-13        168         62  ...                          21
287  1999-01-30        170         57  ...                          72
299  1994-03-15        167         59  ...                          48
309  1997-08-31        170         62  ...                          67
315  2002-01-31        169         51  ...                          22
327  1996-04-02        174         60  ...                          72
336  1994-08-14        172         65  ...                           5
340  2000-07-03        158         48  ...                          26
341  1996-11-14        182         73  ...                          65
352  1993-02-16        165         57  ...                          70
353  1994-02-03        160         60  ...                          64
356  1994-11-05        156         53  ...                          33
357  1995-02-13        168         62  ...                          70
363  1999-03-02        166         59  ...                          70
365  1996-12-31        157         57  ...                          59
372  2001-10-25        165         55  ...                           6
381  1995-12-08        175         60  ...                          29
384  1999-11-11        167         57  ...                          29

     defending_standing_tackle defending_sliding_tackle  goalkeeping_diving  \
57                          84                       83                  10
127                         23                       21                  11
212                         18                       20                  78
266                         29                       28                  11
270                         39                       45                  12
282                         37                       33                  10
287                         71                       70                  11
299                         34                       33                  15
309                         76                       72                  13
315                         21                       14                  12
327                         68                       66                   9
336                         14                       13                  73
340                         37                       34                  14
341                         72                       68                  14
352                         71                       68                   7
353                         70                       70                   9
356                         53                       20                  10
357                         70                       70                   5
363                         76                       71                   9
365                         63                       59                  10
372                         10                       11                  70
381                         20                       19                   7
384                         55                       52                  13

     goalkeeping_handling  goalkeeping_kicking  goalkeeping_positioning  \
57                     11                   10                       12
127                    10                   12                       11
212                    75                   73                       76
266                    14                   14                        7
270                    15                    8                        8
282                     6                    9                       12
287                    14                   10                        9
299                    11                   14                        8
309                    16                    8                        7
315                     6                   11                       12
327                    16                   16                       10
336                    74                   70                       75
340                    10                    7                        6
341                    13                   17                       13
352                     9                   16                       11
353                    15                   14                        7
356                     7                   10                        5
357                    13                    7                       10
363                    11                   14                        5
365                     7                    6                        7
372                    68                   66                       69
381                     8                   13                       11
384                    11                    8                        5

     goalkeeping_reflexes  goalkeeping_speed  nat
57                     11                NaN   mx
127                    13                NaN   mx
212                    77               36.0   mx
266                     7                NaN   mx
270                     7                NaN   mx
282                     6                NaN   mx
287                    12                NaN   mx
299                    13                NaN   mx
309                     9                NaN   mx
315                    12                NaN   mx
327                    10                NaN   mx
336                    75               29.0   mx
340                     7                NaN   mx
341                    14                NaN   mx
352                    11                NaN   mx
353                     6                NaN   mx
356                    13                NaN   mx
357                     9                NaN   mx
363                     9                NaN   mx
365                    11                NaN   mx
372                    72               27.0   mx
381                     6                NaN   mx
384                     8                NaN   mx

[23 rows x 58 columns]

As reading all of the columns is a bit cumbersome, let's repeat this and keep only a few columns:

In [ ]:
# names and potentials of all mexican players
print(data[data["nat"]=="mx"][["short_name","potential","nat"]])

         short_name  potential nat
57        K. Robles         83  mx
127        S. Mayor         79  mx
212     E. Alvarado         85  mx
266    A. Cervantes         74  mx
270      M. Sánchez         76  mx
282     D. Espinosa         84  mx
287        J. López         79  mx
299    C. Jaramillo         72  mx
309       R. Bernal         75  mx
315     A. González         84  mx
327      N. Antonio         75  mx
336     I. González         71  mx
340      J. Montoya         80  mx
341       J. Orejel         74  mx
352       C. Ferral         69  mx
353       B. Campos         72  mx
356  D. Evangelista         72  mx
357       M. Cadena         74  mx
363    K. Rodríguez         77  mx
365    A. Rodríguez         73  mx
372      M. Villeda         78  mx
381   M. Delgadillo         70  mx
384       D. García         76  mx

As you may have noticed, to select multiple columns in a pandas _dataframe_, we first used a square bracket \[ that indicates we are doing a selection and then we needed a second \[ to enclose the list of columns that we wanted to select.

Pandas also allows us to apply simple conditions in our selections. Let's, for example, select all young belgian players.

Notice that to access one column we can use both the square bracket or the ".":

In [ ]:
young_belgians = data[(data.nat =="be") & (data.age<22)]
print(young_belgians[["short_name","potential","nat","age"]])

# we can refer to columns using square brackets or a . with the name of the column
print("\n\n"+"Accessing with different notation"+"\n\n")
young_belgians_again = data[(data["nat"] =="be") & (data["age"]<22)]
print(young_belgians_again[["short_name","potential","nat","age"]])

         short_name  potential nat  age
318  D. Vanmechelen         80  be   21
345    S. Van Belle         78  be   21
346       A. Tysiak         78  be   21
386     H. Eurlings         81  be   18


Accessing with different notation


         short_name  potential nat  age
318  D. Vanmechelen         80  be   21
345    S. Van Belle         78  be   21
346       A. Tysiak         78  be   21
386     H. Eurlings         81  be   18

In [ ]:
# We can use the pandas 'where' method to get the same information:
young_belgians = data.where ((data.nat =="be") & (data.age<22))
# Note that in this case the result is the same size as the 'original dataframe': the unselected values
# display NaN.
print(len(young_belgians))
print(young_belgians[["short_name","potential","nat","age"]])

391
      short_name  potential  nat   age
0            NaN        NaN  NaN   NaN
1            NaN        NaN  NaN   NaN
2            NaN        NaN  NaN   NaN
3            NaN        NaN  NaN   NaN
4            NaN        NaN  NaN   NaN
..           ...        ...  ...   ...
386  H. Eurlings       81.0   be  18.0
387          NaN        NaN  NaN   NaN
388          NaN        NaN  NaN   NaN
389          NaN        NaN  NaN   NaN
390          NaN        NaN  NaN   NaN

[391 rows x 4 columns]

In [ ]:
# We can remove rows that have all NaN values, so we get the same result as using
# binary operators.
print(young_belgians.dropna(how="all")[["short_name","potential","nat","age"]])

         short_name  potential nat   age
318  D. Vanmechelen       80.0  be  21.0
345    S. Van Belle       78.0  be  21.0
346       A. Tysiak       78.0  be  21.0
386     H. Eurlings       81.0  be  18.0

Queries made in this way can be as complex as we want them to:

In [ ]:
# Select players that are:
# Either from Belgium, Mexico or Germany and
# are younger than 22 and
# The difference between their currect "overall" and their "potential" is more than 8 points
players_with_growth_potential = data[((data.nat =="be") | (data.nat =="mx") | (data.nat =="de") ) &
                                     (data.age<22) & ((data.potential-data.overall) > 8) ]

print(players_with_growth_potential[["short_name","potential","overall","nat","age"]])

        short_name  potential  overall nat  age
264  S. Kleinherne         84       74  de   21
282    D. Espinosa         84       73  mx   21
315    A. González         84       72  mx   19
340     J. Montoya         80       71  mx   20
372     M. Villeda         78       68  mx   19
384      D. García         76       66  mx   21
386    H. Eurlings         81       66  be   18

# Aggregation of data

Pandas also allows us to group data using the values of one or more columns. Let's see some examples

In [ ]:
# First, select just a few columns for ease of visualization
data_to_group = data[["short_name","age","potential","pace","shooting","passing",
                      "dribbling","defending","physic","preferred_foot","nat"]]

# Group the dataframe based on the favoured foot of each athlete.
grouped = data_to_group.groupby("preferred_foot")

# Display the name and number of rows of each group.
for name, group in grouped:
    print(name, len(group))

Left 80
Right 311

This type of exploration of data is very frequenlty used in data science. With one single Pandas command we have just found out that our data contains almost 4 right-footed players for every leftie.

In [ ]:
# Group the 'dataframe' based on favoured foot and nationality.
grouped = data_to_group.groupby(["preferred_foot","nat"])

# Display the name and number of rows of each group.
for name, group in grouped:
    print(name, len(group))

('Left', 'au') 5
('Left', 'be') 4
('Left', 'br') 11
('Left', 'ca') 3
('Left', 'cn') 7
('Left', 'de') 3
('Left', 'es') 6
('Left', 'fr') 5
('Left', 'gb-eng') 3
('Left', 'gb-sct') 5
('Left', 'mx') 6
('Left', 'nl') 2
('Left', 'no') 5
('Left', 'nz') 5
('Left', 'pt') 5
('Left', 'se') 3
('Left', 'us') 2
('Right', 'au') 18
('Right', 'be') 19
('Right', 'br') 12
('Right', 'ca') 20
('Right', 'cn') 16
('Right', 'de') 20
('Right', 'es') 17
('Right', 'fr') 18
('Right', 'gb-eng') 20
('Right', 'gb-sct') 18
('Right', 'mx') 17
('Right', 'nl') 21
('Right', 'no') 18
('Right', 'nz') 18
('Right', 'pt') 18
('Right', 'se') 20
('Right', 'us') 21

In [ ]:
# From the grouped data, we apply the aggregation function 'np.mean' (which calculates the mean).
grouped.aggregate(np.mean)

<ipython-input-35-b4e78dd05124>:2: FutureWarning: The operation <function mean at 0x7f16b8df3010> failed on a column. If any error is raised, this will raise an exception in a future version of pandas. Drop these columns to avoid this warning.
  grouped.aggregate(np.mean)

                             age  potential       pace   shooting    passing  \
preferred_foot nat
Left           au      23.800000  79.600000  73.000000  56.000000  63.800000
               be      25.750000  76.000000  72.000000  48.250000  62.750000
               br      31.181818  78.000000  75.700000  59.900000  70.200000
               ca      29.666667  74.333333  72.666667  40.333333  60.333333
               cn      28.142857  78.857143  78.285714  63.428571  70.714286
               de      23.000000  86.000000  83.333333  66.333333  73.333333
               es      25.500000  83.166667  73.800000  57.600000  70.200000
               fr      25.800000  80.400000  78.250000  46.250000  70.500000
               gb-eng  25.333333  82.333333  81.000000  49.333333  66.666667
               gb-sct  27.600000  76.400000  73.250000  55.500000  63.750000
               mx      24.333333  75.500000  73.833333  55.166667  60.833333
               nl      28.000000  79.000000  63.500000  53.500000  68.500000
               no      25.200000  79.000000  79.250000  61.750000  71.250000
               nz      27.000000  75.200000  78.000000  60.400000  67.400000
               pt      23.800000  77.200000  71.600000  56.000000  60.600000
               se      27.333333  81.666667  80.000000  53.666667  72.333333
               us      28.500000  89.000000  83.000000  83.000000  77.000000
Right          au      26.055556  80.055556  75.466667  62.400000  67.133333
               be      25.578947  76.736842  70.062500  54.750000  63.125000
               br      30.666667  77.583333  71.400000  52.900000  64.700000
               ca      27.600000  79.650000  77.176471  62.411765  64.529412
               cn      28.250000  76.875000  73.214286  61.928571  68.714286
               de      25.900000  85.050000  79.764706  69.176471  72.294118
               es      25.882353  80.000000  70.250000  65.750000  66.187500
               fr      27.055556  83.444444  76.562500  60.562500  68.937500
               gb-eng  27.600000  82.900000  75.000000  68.705882  70.058824
               gb-sct  29.055556  76.777778  72.562500  65.375000  64.250000
               mx      24.294118  76.411765  70.500000  61.714286  63.214286
               nl      26.666667  81.142857  74.888889  69.888889  72.000000
               no      25.888889  78.500000  74.312500  62.500000  66.937500
               nz      27.277778  74.666667  70.562500  56.750000  62.125000
               pt      25.666667  76.555556  70.333333  57.333333  60.466667
               se      28.050000  81.050000  73.647059  62.352941  67.764706
               us      29.571429  83.809524  78.388889  66.888889  74.555556

                       dribbling  defending     physic
preferred_foot nat
Left           au      68.200000  58.400000  63.800000
               be      64.250000  59.250000  56.250000
               br      74.700000  48.400000  67.100000
               ca      62.333333  64.000000  70.333333
               cn      73.142857  55.285714  66.142857
               de      78.000000  66.333333  65.666667
               es      70.000000  69.600000  71.400000
               fr      73.000000  74.500000  64.750000
               gb-eng  71.333333  70.333333  71.666667
               gb-sct  70.750000  72.500000  63.500000
               mx      65.333333  54.000000  62.333333
               nl      65.500000  79.000000  81.500000
               no      74.750000  63.250000  64.750000
               nz      69.600000  55.200000  61.000000
               pt      66.400000  46.800000  60.800000
               se      76.000000  67.000000  74.666667
               us      85.500000  44.500000  65.500000
Right          au      73.400000  55.933333  68.333333
               be      67.062500  58.562500  65.375000
               br      67.500000  56.400000  67.400000
               ca      71.058824  52.941176  69.470588
               cn      70.357143  66.928571  69.000000
               de      79.529412  58.529412  69.411765
               es      70.500000  56.375000  63.937500
               fr      74.000000  61.625000  68.500000
               gb-eng  75.352941  60.058824  69.941176
               gb-sct  70.750000  52.375000  62.875000
               mx      67.785714  51.857143  58.071429
               nl      75.500000  57.444444  73.111111
               no      72.312500  58.062500  67.062500
               nz      67.375000  55.625000  64.000000
               pt      63.000000  50.133333  63.066667
               se      71.352941  60.058824  68.529412
               us      77.000000  64.722222  71.833333

In [ ]:
# We retrieve the information of a single interest group.
grouped.get_group(("Left", "es"))

,short_name,age,potential,pace,shooting,passing,dribbling,defending,physic,preferred_foot,nat
17,Jenni Hermoso,31,87,78.0,90.0,80.0,85.0,47.0,71.0,Left,es
32,Alexia Putellas,27,85,77.0,83.0,82.0,84.0,69.0,70.0,Left,es
91,Mapi León,26,86,72.0,39.0,70.0,65.0,83.0,73.0,Left,es
188,Leila Ouahabi,28,76,74.0,48.0,64.0,68.0,75.0,71.0,Left,es
265,Misa,21,81,NaN,NaN,NaN,NaN,NaN,NaN,Left,es
285,Laia Aleixandri,20,84,68.0,28.0,55.0,48.0,74.0,72.0,Left,es

# Converting to other Data Structures and File output

## Converting Series to Lists

As we saw before, we can easily convert one Pandas series (for example) one column of a _dataframe_ to a list:

In [ ]:
# Convert a column (pandas series) into a list
list_of_long_names = list(data["long_name"])

# Use slicing to print only the first 25 values
print(list_of_long_names[:25])

['Lucia Roberta Tough Bronze', 'Wéndèleine Thérèse Renard', 'Vivianne Miedema', 'Samantha May Kerr', 'Alexandra Morgan Carrasco', 'Dzsenifer Marozsán', 'Megan Anna Rapinoe', 'Tobin Powell Heath', 'Caroline Graham Hansen', 'Amandine Chantal Henry', 'Julie Beth Ertz', 'Christine Margaret Sinclair', 'Eugénie Anne Claudine Le Sommer', 'Lieke Martens', 'Rebecca Elizabeth Sauerbrunn', 'Alexandra Popp', 'Francesca Kirby', 'Jennifer Hermoso Fuentes', 'Sara Ilonka Däbritz', 'Amel Majri', 'Lindsey Michelle Horan', 'Kim Alison Little', 'Christen Annemarie Press', 'Alyssa Michele Naeher', 'Crystal Alyssia Dunn Soubrier']

We can also easily convert a whole dataframe into a list of lists, at the proce of loosing the tags:

In [ ]:
# converting a dataframe to a list of lists and showing the two initial values
print(data.values.tolist()[:2])

[[0, 227246, 'L. Bronze', 'Lucia Roberta Tough Bronze', 92, 92, 29, '1991-10-28', 171, 67, 'RB', 2, 'Right', 3, 3, 5, 86.0, 61.0, 70.0, 81.0, 89.0, 84.0, 78, 60, 88, 84, 35, 79, 39, 45, 63, 85, 87, 86, 73, 93, 82, 69, 84, 94, 82, 65, 78, 89, 57, 58, 53, 80, 90, 88, 89, 10, 14, 16, 8, 15, nan, 'gb-eng'], [1, 227316, 'W. Renard', 'Wéndèleine Thérèse Renard', 92, 92, 30, '1990-07-20', 187, 70, 'LCB', 3, 'Right', 2, 2, 5, 68.0, 70.0, 62.0, 73.0, 91.0, 88.0, 25, 70, 94, 83, 41, 69, 49, 58, 78, 85, 69, 67, 56, 84, 44, 85, 94, 77, 93, 63, 88, 88, 70, 55, 60, 80, 90, 93, 91, 7, 14, 17, 11, 15, nan, 'fr']]

Pandas also gives us a very convenient way to store our _dataframe_ using dictionaries:

This function is highly configurable. For example, if we use the option

orient = "list"

Then the keys in the dictionary will be the names of the columns and the values will be lists with all the values in the corresponding column:

In [ ]:
# Converting a dataframe into a dictionary with the column names as keys and the
# a list with the contents of the column as values
myDict = data.to_dict(orient = "list")
print(myDict["short_name"])

['L. Bronze', 'W. Renard', 'V. Miedema', 'S. Kerr', 'A. Morgan', 'D. Marozsán', 'M. Rapinoe', 'T. Heath', 'C. Hansen', 'A. Henry', 'J. Ertz', 'C. Sinclair', 'E. Le Sommer', 'L. Martens', 'B. Sauerbrunn', 'A. Popp', 'F. Kirby', 'Jenni Hermoso', 'S. Däbritz', 'A. Majri', 'L. Horan', 'K. Little', 'C. Press', 'A. Naeher', 'C. Dunn', 'S. Mewis', 'N. Fischer', 'C. Seger', 'S. Bouhaddi', "K. O'Hara", 'S. Houghton', 'M. Eriksson', 'Alexia Putellas', 'R. Lavelle', 'J. Groenen', 'I. Engen', 'A. Harris', 'K. Asllani', 'L. Benkarth', 'S. Huth', 'K. Buchanan', 'D. Cascarino', 'A. Erceg', 'S. Blackstenius', 'D. van de Donk', 'L. Magull', 'G. Gwinn', 'L. Oberdorf', 'S. Jakobsson', 'H. Lindahl', 'F. Rolfö', 'Irene Paredes', 'J. Nobbs', 'M. Mjelde', 'G. Mbock', 'K. Diani', 'S. Schmidt', 'K. Robles', 'M. Pugh', 'A. Franch', 'S. Spitse', 'N. Parris', 'Miri Couto', 'Emanuelly Barni', 'M. Katoto', 'A. Krieger', 'M. Leupolz', 'K. Hendrich', 'Wu Haiyan', 'C. Foord', 'S. Catley', 'E. White', 'K. Minde', 'L. Maier', 'G. Reiten', 'A. Lawrence', 'D. Scott', 'S. van Veenendaal', 'A. Dahlkemper', 'M. Bright', 'L. Dallmann', 'E. Carpenter', 'J. Roord', 'Jully Mutto', 'Palomy Bastos', 'M. Frohms', 'K. Bühl', 'A. Berger', 'E. Haavi', 'L. Williams', 'Sandra Paños', 'Mapi León', 'H. Glas', 'L. Schüller', 'Letinha Lia', 'Isinha Macapá', 'Becky Saudera', 'S. Lohmann', 'M. Hegering', 'T. Wullaert', 'Wang Shuang', 'Tang Jiali', 'E. Kellond-Knight', 'K. Bardsley', 'A. Greenwood', 'J. Scott', 'C. Telford', 'J. Beckie', 'S. Labbé', 'M. Torrent', 'E. Sonnett', 'A. Riley', 'S. van der Gragt', 'F. Rauch', 'R. Daly', 'G. Geyoro', 'K. Sheridan', 'L. Beerensteyn', 'Peng Shimeng', 'Julininha Ruiz', 'Karole Pombal', 'L. Freigang', 'J. Cayman', 'Liu Shanshan', 'E. van Egmond', 'H. Raso', 'D. Stokes', 'S. Mayor', 'R. Percival', 'S. van de Sanden', 'D. Janssen', 'E. Perisset', 'K. Walsh', 'C. Emslie', 'Bianca Revelia', 'Becky Redela', 'J. Beattie', 'C. Weir', 'T. De Caigny', 'Li Ying', 'Ma Jun', 'A. Ilestedt', 'A. Kennedy', 'K. Gorry', 'Marta Corredera', 'J. Fleming', 'Amanda Sampedro', 'E. Nayler', 'S. Karchaoui', 'M. van Dongen', 'A. Dekker', 'Patri Guijarro', 'Z. Mušović', 'G. Stanway', 'B. Mead', 'E. Cuthbert', 'L. Williamson', 'Wang Shanshan', 'Zhang Xin', 'O. Schough', 'E. Rubensson', 'C. Polkinghorne', 'T. Yallop', 'Virginia Torrecilla', 'Vicky Losada', 'C. Fiskerstrand', 'E. McLeod', 'K. Bowen', 'J. Andersson', 'C. Krueger', 'Mariona', 'Aitana Bonmatí', 'V. Risa', 'Lin Yuping', 'Melinda Goiás', 'E. Mitchell', 'L. Evans', 'A. Nouwen', 'N. Björn', 'E. Roebuck', 'B. England', 'Zhai Qingwei', 'Cláudia Neto', 'Zhang Rui', 'Gu Yasha', 'V. Asseyi', 'K. Dali', 'A. Chapman', 'Leila Ouahabi', 'K. van Es', 'S. Zadorsky', 'A. Tounkara', 'T. Knaak', 'Cecil Sendela', 'Zoe Tocantins', 'Isaby Camila', 'Niccole Cintra', 'K. Sævik', 'L. Alexander', 'R. Corsie', 'J. Falk', 'A. Anvegård', 'Li Mengwen', 'J. Brand', 'J. Biesmans', 'Carole Costa', 'Ana Borges', 'Yang Li', 'Han Peng', 'Quinn', 'Ivana Andrés', 'M. Arnold', 'E. Alvarado', 'Pang Fengyue', 'C. Logarzo', 'Andrea Pereira', 'Esther González', 'L. Utland', 'M. Moore', 'A. Longo', 'I. Kaagman', 'N. Prince', 'F. Maanum', 'R. Jansen', 'S. Durand', 'Lucía García', 'K. Snoeijs', 'Iris Vieirinha', 'Jandinha Kenedy', 'S. Howard', 'F. Brown', 'K. Smith', 'Nahikari', 'M. Janogy', 'V. Gilles', 'Ona Batlle', 'C. Kelly', 'L. Hemp', 'Yao Lingwei', 'L. Deloose', 'D. Philtjens', 'Dolores Silva', 'Sílvia Rebelo', 'C. Macario', 'F. Angeldahl', 'L. Hurtig', 'K. Simon', 'A. Leon', 'C. Bilbault', 'M. Thorisdottir', 'L. Geurts', 'M. Purce', 'Kla Elisinha', 'Giovanny Bia', 'Magi Bardini', 'J. Ross', 'L. Clelland', 'C. Murray', 'J. Love', 'H. Lauder', 'P. Peyraud-Magnin', 'Alba Redondo', 'L. Wilms', 'Marta Cardona', 'S. Kleinherne', 'Misa', 'A. Cervantes', 'K. Missipo', 'Jéssica Silva', 'S. Jensen', 'M. Sánchez', 'R. White', 'D. Kerkdijk', 'V. Esson', 'K. Leine', 'O. Chance', 'Rafaelly Paraná', 'L. Arnot', 'C. Arthur', 'L. Crichton', 'E. Laurent', 'N. Docherty', 'D. Espinosa', 'J. Huitema', 'Yao Wei', 'Laia Aleixandri', 'P. Morroni', 'J. López', 'É. Viens', 'J. Vanhaevermaet', 'L. De Neve', 'M. Minnaert', 'L. Onzia', 'Patrícia Morais', 'Carolina Mendes', 'E. Toone', 'H. Bennison', 'Li Jiayue', 'E. Thorsnes', 'C. Jaramillo', 'Bi Xiaolin', 'E. Gielnik', 'S. Hansen', 'A. Green', 'H. Wilkinson', 'C. Bott', 'L. Agnew', 'D. Rose', 'S. Woeller', 'R. Bernal', 'L. Kop', 'V. Pelova', 'Licinha Bardini', 'A. Eikeland', 'J. Roddar', 'A. González', 'J. Odeurs', 'N. Evrard', 'D. Vanmechelen', 'C. Vande Velde', 'Tatiana Pinto', 'Diana Silva', 'Andreia Norton', 'Fátima Pinto', 'K. Cooney-Cross', 'A. Cook', 'Song Duan', 'N. Antonio', 'B. Hassett', 'T. Hansen', 'K. Rood', 'M. Kelly', 'J. Fife', 'L. Staniforth', 'Luo Guiping', 'É. De Almeida', 'I. González', 'Joana Marchão', 'Ana Capeta', 'Inês Pereira', 'J. Montoya', 'J. Orejel', 'S. Lynn', 'C. Kvamme', 'E. Kullberg', 'S. Van Belle', 'A. Tysiak', 'C. Tison', 'Telma Encarnação', 'Kika Nazareth', 'Rute Costa', 'A. Harrison', 'C. Ferral', 'B. Campos', 'T. Åsland', 'M. Fowler', 'D. Evangelista', 'M. Cadena', 'E. Cascarino', 'L. Wajnblum', 'Andreia Jacinto', 'Andreia Faria', 'Alícia Correia', 'K. Rodríguez', 'S. Smith', 'A. Rodríguez', 'A. Phillips', 'P. Satchell', 'J. Hellstrom', 'K. Roestbakken', 'C. Bunge', 'G. Pettersen', 'M. Villeda', 'I. Iliano', 'D. Lemey', 'M. Coutereels', 'Catarina Amado', 'S. Morton', 'A. Mikalsen', 'N. Stratford', 'J. Blakstad', 'M. Delgadillo', 'S. Skilton', 'T. Micah', 'D. García', 'M. van der Meer', 'H. Eurlings', 'Ana Dias', 'G. Rennie', 'C. Nevin', 'C. Grant']

This function is highly configurable. For example, we can also get a dictionary of dictionaries. The keys will become the values in one of the columns (the index column by default) and the values will be a dictionaries of their own. In each dictionary, the keys will be the name of each column and the values their content.

In [ ]:
# make a dictionary of dictionaries froma dataframe
myDict = data.to_dict(orient = "records")

# print three entries
print(myDict[:3])

# choose one field in particular
print("\n\n"+myDict[5]["long_name"])

[{'Unnamed: 0': 0, 'id': 227246, 'short_name': 'L. Bronze', 'long_name': 'Lucia Roberta Tough Bronze', 'overall': 92, 'potential': 92, 'age': 29, 'dob': '1991-10-28', 'height_cm': 171, 'weight_kg': 67, 'nation_position': 'RB', 'nation_jersey_number': 2, 'preferred_foot': 'Right', 'weak_foot': 3, 'skill_moves': 3, 'international_reputation': 5, 'pace': 86.0, 'shooting': 61.0, 'passing': 70.0, 'dribbling': 81.0, 'defending': 89.0, 'physic': 84.0, 'attacking_crossing': 78, 'attacking_finishing': 60, 'attacking_heading_accuracy': 88, 'attacking_short_passing': 84, 'attacking_volleys': 35, 'skill_dribbling': 79, 'skill_curve': 39, 'skill_fk_accuracy': 45, 'skill_long_passing': 63, 'skill_ball_control': 85, 'movement_acceleration': 87, 'movement_sprint_speed': 86, 'movement_agility': 73, 'movement_reactions': 93, 'movement_balance': 82, 'power_shot_power': 69, 'power_jumping': 84, 'power_stamina': 94, 'power_strength': 82, 'power_long_shots': 65, 'mentality_aggression': 78, 'mentality_interceptions': 89, 'mentality_positioning': 57, 'mentality_vision': 58, 'mentality_penalties': 53, 'mentality_composure': 80, 'defending_marking_awareness': 90, 'defending_standing_tackle': 88, 'defending_sliding_tackle': 89, 'goalkeeping_diving': 10, 'goalkeeping_handling': 14, 'goalkeeping_kicking': 16, 'goalkeeping_positioning': 8, 'goalkeeping_reflexes': 15, 'goalkeeping_speed': nan, 'nat': 'gb-eng'}, {'Unnamed: 0': 1, 'id': 227316, 'short_name': 'W. Renard', 'long_name': 'Wéndèleine Thérèse Renard', 'overall': 92, 'potential': 92, 'age': 30, 'dob': '1990-07-20', 'height_cm': 187, 'weight_kg': 70, 'nation_position': 'LCB', 'nation_jersey_number': 3, 'preferred_foot': 'Right', 'weak_foot': 2, 'skill_moves': 2, 'international_reputation': 5, 'pace': 68.0, 'shooting': 70.0, 'passing': 62.0, 'dribbling': 73.0, 'defending': 91.0, 'physic': 88.0, 'attacking_crossing': 25, 'attacking_finishing': 70, 'attacking_heading_accuracy': 94, 'attacking_short_passing': 83, 'attacking_volleys': 41, 'skill_dribbling': 69, 'skill_curve': 49, 'skill_fk_accuracy': 58, 'skill_long_passing': 78, 'skill_ball_control': 85, 'movement_acceleration': 69, 'movement_sprint_speed': 67, 'movement_agility': 56, 'movement_reactions': 84, 'movement_balance': 44, 'power_shot_power': 85, 'power_jumping': 94, 'power_stamina': 77, 'power_strength': 93, 'power_long_shots': 63, 'mentality_aggression': 88, 'mentality_interceptions': 88, 'mentality_positioning': 70, 'mentality_vision': 55, 'mentality_penalties': 60, 'mentality_composure': 80, 'defending_marking_awareness': 90, 'defending_standing_tackle': 93, 'defending_sliding_tackle': 91, 'goalkeeping_diving': 7, 'goalkeeping_handling': 14, 'goalkeeping_kicking': 17, 'goalkeeping_positioning': 11, 'goalkeeping_reflexes': 15, 'goalkeeping_speed': nan, 'nat': 'fr'}, {'Unnamed: 0': 2, 'id': 233746, 'short_name': 'V. Miedema', 'long_name': 'Vivianne Miedema', 'overall': 92, 'potential': 93, 'age': 24, 'dob': '1996-07-15', 'height_cm': 178, 'weight_kg': 65, 'nation_position': 'ST', 'nation_jersey_number': 9, 'preferred_foot': 'Right', 'weak_foot': 4, 'skill_moves': 4, 'international_reputation': 5, 'pace': 81.0, 'shooting': 93.0, 'passing': 75.0, 'dribbling': 88.0, 'defending': 32.0, 'physic': 79.0, 'attacking_crossing': 69, 'attacking_finishing': 95, 'attacking_heading_accuracy': 89, 'attacking_short_passing': 87, 'attacking_volleys': 90, 'skill_dribbling': 90, 'skill_curve': 76, 'skill_fk_accuracy': 71, 'skill_long_passing': 67, 'skill_ball_control': 91, 'movement_acceleration': 80, 'movement_sprint_speed': 81, 'movement_agility': 77, 'movement_reactions': 92, 'movement_balance': 73, 'power_shot_power': 91, 'power_jumping': 73, 'power_stamina': 79, 'power_strength': 85, 'power_long_shots': 92, 'mentality_aggression': 66, 'mentality_interceptions': 27, 'mentality_positioning': 95, 'mentality_vision': 68, 'mentality_penalties': 78, 'mentality_composure': 91, 'defending_marking_awareness': 22, 'defending_standing_tackle': 30, 'defending_sliding_tackle': 23, 'goalkeeping_diving': 14, 'goalkeeping_handling': 16, 'goalkeeping_kicking': 17, 'goalkeeping_positioning': 14, 'goalkeeping_reflexes': 17, 'goalkeeping_speed': nan, 'nat': 'nl'}]


Dzsenifer Marozsán

## Writing data to a file

In a way analogous to how we loaded the data from one file to one
_dataframe_, we can write the data from a _dataframe_ to a CSV file.

In [ ]:
# Let's create a 'dataframe' with the names of the players.
new_dataset = grouped.get_group(("Left", "es"))
# Save the new 'dataframe' to a file, forcing the encoding to 'utf-8'.
new_dataset.to_csv("esLefties.csv", encoding='utf-8')

And, that's it! I hope that you have gained some general understanding about how Pandas works and how it can make your life much easier if you need to process lots of tabular data.

# Exercises

## Exercise 1

Create a pandas _dataframe_ using a list of lists, give all the axes names and use "head" to show the initial two rows and check that the format is correct.

In [ ]:
# Exercise 1

# Exercise 2

Using the data in the data in the "players.csv" file that we have been working with:

2.1 Find the players that are not from mexico, older than 20 and have at least 7 points difference between their current "potential" and their current "overall".

2.2 Find the player with higher value in the "pace" column who is either from England or Scotland. In case of a draw, output younger players first.

In [ ]:
# Ex 2.1

In [ ]:
# Ex 2.1

# Exercise 3

(you will probably need to do some further research on Pandas for this one)

Create a new _dataframe_ column called "att" that is the average of the following columns: "attacking_crossing","attacking_finishing","attacking_heading_accuracy","attacking_short_passing" and "attacking_volleys".

Output the best and worst player for every nationality based no this new column.

In [ ]:
# Exercise 3.1

# THE END!

[BACK TO INDEX](https://colab.research.google.com/drive/1mjBugZmwa6OSxNaqkrCu4OCslKf2Wy7P?usp=sharing)


[Youtube Channel](https://www.youtube.com/channel/UCDxi6j88IlZXsRcAUXlscgw)